## Imputasi 
mengganti nilai / data yang hilang (missing vakue,NaN;Blank) dengan nilai pengganti

### 1.Mean

In [4]:
import pandas as pd
import numpy as np

In [5]:
kolom = {
    'col1': [2,9,19],
    'col2':[5,np.nan,17],
    'col3':[3,9,np.nan],
    'col4':[6,0,9],
    'col5':[np.nan,7,np.nan]}

data = pd.DataFrame(kolom)

In [6]:
data.head()

   col1  col2  col3  col4  col5
0     2   5.0   3.0     6   NaN
1     9   NaN   9.0     0   7.0
2    19  17.0   NaN     9   NaN

In [9]:
## menggunakan mean
datafull = data.fillna(data.mean())
datafull

   col1  col2  col3  col4  col5
0     2   5.0   3.0     6   7.0
1     9  11.0   9.0     0   7.0
2    19  17.0   6.0     9   7.0

## 2.Arbitrary ( imputasi suka-suka)

In [12]:
umur = {'umur': [29,43,np.nan, 25, 34, np.nan, 50]}

data = pd.DataFrame(umur)

In [13]:
datafull  = data.fillna(99)
datafull

   umur
0  29.0
1  43.0
2  99.0
3  25.0
4  34.0
5  99.0
6  50.0

## 3.Imputasi End of tail

 - Jika variabel distribusi normal, maka nilai arbiter = mean + 3 * std
 - Jika variabel skew, maka gunakan aturan IQR proximity = 
        ( IQR = 75th - 25th; Upper limit = 75th + IQR  x3; 
        Lower limit = 25th - IQR x3)

In [ ]:
pip install feature-engine

In [16]:
## import 

from feature_engine.imputation import EndTailImputer

# buat Imputer
imputer = EndTailImputer(imputation_method = 'gaussian', tail = 'right')

In [17]:
umur = {'umur': [29,43,np.nan, 25, 34, np.nan, 50]}

data = pd.DataFrame(umur)


#fit-kan imputer ke set
imputer.fit(data)

#ubah data
test_data = imputer.transform(data)

# tampilkan data
test_data

        umur
0  29.000000
1  43.000000
2  66.896905
3  25.000000
4  34.000000
5  66.896905
6  50.000000

## 4.Imputasi dengan data kategorikal
menggunakan imputasi modus & random sample

### Modus

In [20]:
# import sklearn imputer
from sklearn.impute import SimpleImputer

In [21]:
mobil = {'merk': ['Ford','Ford','Toyota','Honda',np.nan,'Toyota','Honda',np.nan,np.nan]}

mobil_df = pd.DataFrame(mobil)

In [22]:
mobil_df

     merk
0    Ford
1    Ford
2  Toyota
3   Honda
4     NaN
5  Toyota
6   Honda
7     NaN
8     NaN

In [23]:
# panggil modus

imputasi = SimpleImputer(strategy = 'most_frequent')

In [24]:
# trasnformasi
imputasi.fit_transform(mobil_df)

array([['Ford'],
       ['Ford'],
       ['Toyota'],
       ['Honda'],
       ['Ford'],
       ['Toyota'],
       ['Honda'],
       ['Ford'],
       ['Ford']], dtype=object)

### Random Sample

In [28]:
#import RandomSampleImputer
from feature_engine.imputation import RandomSampleImputer

In [32]:
# buat data

data = {'jenis kelamin': 
                        ['Laki-laki','Perempuan',np.nan,'Perempuan','Perempuan','Laki-laki','Laki-laki','Laki-laki',np.nan,'Perempuan'],
        'umur': [29,np.nan,32,43,50,22,np.nan,52,np.nan,18]}

In [33]:
data_df = pd.DataFrame(data)

In [34]:
data_df

  jenis kelamin  umur
0     Laki-laki  29.0
1     Perempuan   NaN
2           NaN  32.0
3     Perempuan  43.0
4     Perempuan  50.0
5     Laki-laki  22.0
6     Laki-laki   NaN
7     Laki-laki  52.0
8           NaN   NaN
9     Perempuan  18.0

In [37]:
# buat imputer
imputasi = RandomSampleImputer(random_state=29)

#fit ke set
imputasi.fit(data_df)

# ubah data

testing_df = imputasi.transform(data_df)

In [38]:
testing_df

  jenis kelamin  umur
0     Laki-laki  29.0
1     Perempuan  52.0
2     Laki-laki  32.0
3     Perempuan  43.0
4     Perempuan  50.0
5     Laki-laki  22.0
6     Laki-laki  50.0
7     Laki-laki  52.0
8     Perempuan  22.0
9     Perempuan  18.0